@CHARSET "UTF-8"; 

div.menu div.elements div.elem a { color:#CCCCCC; }
div.menu-block div.menu div.elem:hover { background-color:#fff; }
div.menu-block div.menu div.elem:hover a { color:#CCCCCC; }
div.menu-block div.menu div.elem a:hover { color:#CCCCCC; }
div.menu-block div.menu div.cur:hover { background-color:#B665B1; }
div.menu-block div.menu div.cur:hover  a { color:#fff; }

div.content-block div.reviews { width:100%; height:100%; background-image:url(../i/1-type.jpg); background-repeat:no-repeat; background-size: cover;}
div.content-block div.reviews div.predhead { width:300px; height:60px; line-height:60px; font-family: 'Circle Extra Light35'; position:relative; float:left; 
                                             color:#fff; margin:20px 0 0 30px; font-size:2.5em;}
div.content-block div.reviews h1 { font-size:2.5em; color:#FFCB03; margin:20px 0 0 0; position:relative; float:left; }
div.content-block div.reviews div.list { clear:both; width:100%; height:auto; overflow:hidden; margin:0 0 0 50px; padding:30px 0 0 0;}
div.content-block div.reviews div.review { width:215px; height:auto; overflow:hidden; position:relative; float:left; margin:0 0 0 130px; }
div.content-block div.reviews div.review:first-child { margin:0 0 0 10px; }
div.content-block div.reviews div.review img { width:215px; height:215px; }
div.content-block div.reviews div.review div.name { width:215px; text-align:center; color:#FFCB03; margin:10px 0 0 0; }
div.content-block div.reviews div.review div.text { font-family: 'Circle Extra Light35'; color:#fff; margin:5px 0 0 0; }

@media screen and (max-width: 420px) {
    div.content-block div.reviews { width:100%; height:auto; }
    div.content-block div.reviews h1 { font-size:1.5em; color:#FFCB03; margin:36% 0 0 10px; position:static; float:none; }
    div.content-block div.reviews div.list { clear:both; width:100%; height:auto; overflow:hidden; margin:0 0 0 50px; padding:30px 0 0 0;}
    div.content-block div.reviews div.review { width:215px; height:auto; position:static; float:none; margin:0 0 0 20px; }
}