@CHARSET "UTF-8"; 
html,
body {
    height:100%
}
@font-face 
{ 	font-family: Circle Extra Light; /* Имя шрифта */ 	
   src: url(fonts/Circe_Bold_0.otf); /* Путь к файлу со шрифтом */ 
} 
@font-face 
{ 	font-family: Circle Extra Light35; /* Имя шрифта */ 	
   src: url(fonts/CRC35.otf); /* Путь к файлу со шрифтом */ 
} 
*{     padding: 0px; margin: 0px; } 

.novisible { display:none; }

div.fon { 	
    font-family:'Circle Extra Light'; 
    min-width:100%;
    min-height:100%;
    height:auto;
    width:auto;
    -o-background-size: 100% 100%;  /* Opera 9.5+ */
    -webkit-background-size:100% 100%; /* Safari 3+, Chrome */
    -moz-background-size:100% 100%; /* Firefox 3.6+ */
    -khtml-background-size:100% 100%; /* Konqueror */
    background-size: 100% 100%;
    overflow-x:hidden; 
} 
.ten-bottom {   
    box-shadow: 0 6px 4px -4px rgba(0, 0, 0, .2); 
}  
div.go-top { 	
    width:90px;
    height:40px;
    position:fixed;
    background-color:#fff;
    font-size:12px;
    padding:5px 0 0 5px;
    z-index:10000;
    bottom: 20px;
    right: 90%;
    margin-right: 0px;
    background-image:url(../i/go-top.png);
    background-repeat:no-repeat;
    background-position:right center;
    cursor:pointer;
    display:none;
    opacity:0.9;
}
div.go-top:hover { opacity:1; } 
div.go-top div.text { 	margin:8px 0 0 6px; font-size:14px; letter-spacing:1px; }
/*div.say-ok { 	margin:0 auto; 	width:400px; height:40px; background-color:#fff; margin:8% 0 0 50%; position:fixed; 
        z-index:2000; 	padding:10px 0 0 10px; 	box-shadow: 0 0 10px rgba(0,0,0,0.5); 	display:none; } */
div.form-callback { width:270px;	height:170px; margin:8% 0px 0px 53%; position:fixed; border:1px solid #31E1CE; background:#FFF; z-index:10000; 
                    padding: 10px; display:none; } 
@media screen and (max-width: 420px) { 	
    div.say-ok 	{ margin:0 auto; margin:20% 0 0 0%; font-size:0.9em; } 	
    div.form-callback { margin:20% 0px 0px 3%; } 
} 

input.ok-button { position:relative; float:right; color:#fff; width:150px; height:40px; line-height:40px; margin:0 18px 0 0; 
                  background-color:#FFAB3E; border-style:none; border-radius: 5px 5px 5px 5px; cursor:pointer;
                  font-size:1.2em; }
input.ok-button:hover { background-color:#FA7D00; }

div.main { width:1024px; margin:0 auto; background-color:#F5F4F0; } 

/*---- Верхняя часть ----- */ 
div.head { background-color:#fff; height:70px; width:1024px; font-size:1em; position:fixed; z-index:100000; } 
div.head div.logo { position:relative; float:left; width:170px; height:31px; background-image: url(../i/logo.jpg); 
                    background-repeat:no-repeat; background-size: cover; margin:10px 0 0 5px; } 
div.menu-block { width:630px; height:70px; position:relative; float:left; background-color:#fff; }
div.menu-block div.menu { width:100%; margin:0 auto; }
div.menu-block div.menu div.elements	 { padding:0px 0 0 0; height:100%;}	
div.menu-block div.menu div.elem { margin:0px 0 0 1%; line-height:70px; padding:0 10px 0 10px;
                                   display: -moz-inline-stack; display:inline-block; height:100%; cursor:pointer; height:100%; }
div.menu-block div.menu div.cur { background-color:#B665B1; }
div.menu-block div.menu div.elem:hover { background-color:#B665B1; }
div.menu-block div.menu div.elem:hover a { color:#fff; }
div.menu-block div.menu div.elem:first-child { margin: 0 0 0 1%; }
div.menu-block div.menu div.elem a { color:#000; font-size:1em; text-decoration:none; }
div.menu-block div.menu div.elem a:hover { color:#fff; }
div.menu-block div.menu div.elem a.cur { color:#fff; }
div.menu-block div.menu div.elem.review a { color:#B665B1; font-weight:bold; }
div.menu-block div.menu div.elem.review:hover a { color:#fff; }
div.menu-block div.menu div.elem.review a.cur { color:#fff; }

div.head div.phone-block { position:relative; float:left; margin: 15px 0 0 30px; }
div.head div.phone-block div.phone-number { font-size:1.7em; font-weight:bold;}
div.head div.button-callback { position:relative; float:left; margin:25px 0 0 30px; background-image: url(../i/button-callback.png); 
                               background-repeat:no-repeat; width:222px; height:55px; cursor:pointer; opacity:0.8;} 
div.head div.button-callback:hover{ opacity:1; }

@media screen and (max-width: 420px) {
    div.main { width:100%; }
    div.go-top { right:65%; }
    div.active-head div.center { width:360px; margin:0 auto;}
    div.active-head  div.logo { width:100px; height:18px; background-image: url(../i/logo-mini.jpg); margin:0 0 0 5px;}
    div.active-head div.menu { width:255px;  position:relative; float:left; }
    div.active-head div.menu div.elements { width:100%; padding:0px 0 0 0;}
    div.active-head div.menu div.elem { margin:0 0 0 1%; height:30px;}
    div.active-head div.menu div.elem:first-child { margin: 0 0 0 3%; }
    div.active-head div.menu div.elem a { font-size:0.8em; }
    div.active-head div.menu div.bottom-first { margin:0 0 0 25%;}
    div.head { width:100%; height:90px;}
    div.head div.logo  { width:100px; height:18px; margin:5px 0 0 10px; background-image: url(../i/logo-mini.jpg);}
    div.head div.phone-block { margin: 2px 0 0 50%; position:absolute; }
    div.head div.phone-block div.phone-number { font-size:1.2em; }
    div.head div.phone-block div.podphone { display:none; }
    div.head div.button-callback { position:absolute; margin:35px 0 0 10px; background-image: url(../i/button-callback-mini.png); width:100px; height:25px; }
    div.head div.button-callback :hover{ opacity:1; }
    div.menu-block { width:100%; height:auto; overflow:hidden;  margin-top:20px;}
    div.menu-block div.menu { width:90%; height:auto; overflow:hidden; border-top:none; margin-left:5px;}
    div.menu-block div.menu div.elements	 { }	
    div.menu-block div.menu div.elem { margin:0 0 0 2%; height:100%; display:inline; position:relative; float:left; height:40px; line-height:40px; }
    div.menu-block div.menu div.bottom-first { margin:0 0 0 20%;}
    div.menu-block div.menu div.elem:first-child { margin: 0 0 0 0%; }
    div.menu-block div.menu div.elem a { color:#000; font-size:0.8em; } 
}
div.content-block { width:100%; height:auto; overflow:hidden; }
div.content-block div.one-block { clear:both; width:100%; height:auto; overflow:hidden; margin:70px 0 0 0; }
div.content-block div.one-block div.left{ width:45%; position:relative; float:left; padding:0 0 0 2%;}
div.content-block div.one-block div.left h1 { margin:10px 0 0 0px;}
div.content-block div.sep-line { margin:0px 0 0 0; width:100px; height:10px; background-color:#DE08CC; }
div.content-block div.one-block div.left div.text { margin:10px 0 0 0; font-family: 'Circle Extra Light35'; }
div.content-block div.one-block div.left div.form-order { width:85%; height:300px; margin:25px 0 0 0; background: #E9207E;
                                                          background: linear-gradient(to bottom, #E9207E, #95268F); border-radius: 5px 5px 5px 5px;}
div.content-block div.one-block div.left div.give-me-my-share { margin:20px 0 20px 0; }
div.content-block div.one-block div.left div.give-me-my-share span { color:#E807DF; font-family: 'Circle Extra Light35'; cursor:pointer;
                                                                     border-bottom-width:1px; border-bottom-style:dashed; }

div.say-ok { width:350px; height:40px; background: linear-gradient(to bottom, #E9207E, #95268F); 
             color:#fff; padding:20px 0 0 20px; position:fixed; top:25%; left:12%; border-radius: 5px 5px 5px 5px; box-shadow: 0 0 10px rgba(0,0,0,0.5);}															
div.callback-form { width:340px; height:265px; padding:3% 3% 3% 3%; background: linear-gradient(to bottom, #E9207E, #95268F); border-radius: 5px 5px 5px 5px; 
                    position:fixed; top:35%; left:12%;  z-index:100000; box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */}
div.callback-form div.close-callback-form { width:15px; height:15px; background-image:url(../i/close-callback.png); position:absolute; 	
                                            margin-left:348px; 	margin-top:-20px; 	cursor:pointer; } 
div.callback-form  div.top-line { color:#fff; font-size:1.6em;}

div.callback-form  div.name-field { color:#fff; font-size:1.1em; }
div.callback-form  input.field { height:40px; width:100%; line-height:40px; font-size:1.5em; margin:10px 0 5px 0; }
div.callback-form  input.ok-button { font-size:1.2em; margin:15px 0 0 0; }
div.callback-form div.bottom-line {  }

div.content-block div.one-block div.left div.form-order div.text { color:#fff; padding:0px 0 0 15px; }															  
div.content-block div.one-block div.left div.form-order div.text:first-child { padding:15px 0 0 15px; }
div.content-block div.one-block div.left div.form-order input.field { width:92%; height:35px; line-height:35px; margin:5px 0 0 15px; color:#000; 
                                                                      padding:0 0 0 10px; font-size:1.3em; 
                                                                      ::-webkit-input-placeholder {color:#A9A9A9;}
                                                                      ::-moz-placeholder          {color:#A9A9A9;}/* Firefox 19+ */
                                                                      :-moz-placeholder           {color:#A9A9A9;}/* Firefox 18- */
                                                                      :-ms-input-placeholder      {color:#A9A9A9;}
}
div.content-block div.one-block div.left div.form-order div.block-count { margin:10px 0 0 0; }
div.content-block div.one-block div.left div.form-order div.block-count div.text-block { margin: 20px 0 0 12px; font-family: 'Circle Extra Light35'; 
                                                                                         position:relative; float:left; font-size:0.9em;}
div.content-block div.one-block div.left div.form-order div.block-count div.text-block  div.top{ color:#fff; }
div.content-block div.one-block div.left div.form-order div.block-count div.text-block  div.bottom{ color:#F21680; font-size:1em;}
div.content-block div.count-change-block { position:relative; float:right; margin:20px 20px 0 0px; }
div.content-block div.count-change-block  div.left-button { width:35px; height:35px; background-color:#DDDDDD; position:relative; float:left; cursor:pointer; 
                                                            line-height:35px; text-align:center; }
div.content-block div.count-change-block  div.left-button:hover { background-color:#999; color:#fff; }													   
div.content-block  div.count-change-block input.count-packets { position:relative; float:left; width:65px; height:35px; border-style:none; font-size:1.5em;
                                                                padding:0 10px 0 10px; text-align:center; }
div.content-block div.count-change-block  div.right-button { width:35px; height:35px; background-color:#DDDDDD; position:relative; float:left; cursor:pointer;
                                                             line-height:35px; text-align:center; }
div.content-block div.count-change-block  div.right-button:hover { background-color:#999; color:#fff; }	
div.content-block div.ok-block { clear:both; padding:20px 0 0 20px; color:#fff; }
div.content-block div.ok-block div.price { position:relative; float:left; }
div.content-block div.ok-block div.price span.all-price { font-family: 'Circle Extra Light35'; font-size:1.3em; }

div.content-block div.one-block div.right{ width:53%; 
                                           height:100%; 
                                           min-height:700px; 
                                           position:relative; 
                                           float:left; 
                                           -webkit-background-size:100% 100%; /* Safari 3+, Chrome */
                                           -o-background-size: 100% 100%;  /* Opera 9.5+ */
                                           -moz-background-size:100% 100%; /* Firefox 3.6+ */
                                           -khtml-background-size:100% 100%; /* Konqueror */
                                           background-size: 100% 100%;
                                           background-image:url("../i/1-2.png"); 
                                           background-size: cover; 
                                           background-repeat:no-repeat; }
div.content-block div.one-block div.right div.head-text { margin:30% 0 0 20%; color:#fff; font-size:2.5em; font-family: 'Circle Extra Light35'; }
div.content-block div.one-block div.right ul { list-style-type:none; margin:3% 0 0 20%; color:#fff; font-size:1.5em; font-family: 'Circle Extra Light35';}
div.content-block div.one-block div.right h2 { margin:3% 0 0 20%; color:#fff; }

div.content-block div.two-block { width:100%; height:auto; overflow:hidden; }
div.content-block div.two-block  div.left{ width:59%; height:100%; min-height:670px;  
                                           background-image:url(../i/2-2.png); background-size: cover; background-repeat:no-repeat;
                                           -webkit-background-size:100% 100%; /* Safari 3+, Chrome */
                                           -o-background-size: 100% 100%;  /* Opera 9.5+ */
                                           -moz-background-size:100% 100%; /* Firefox 3.6+ */
                                           -khtml-background-size:100% 100%; /* Konqueror */
                                           background-size: 100% 100%;
                                           position:relative; float:left; }
div.content-block div.two-block div.video { margin:25% 0 0 10%; width:380px; height:220px; position:absolute; }

div.content-block div.two-block  div.right { width:41%; min-height:500px; height:auto; position:relative; float:left; }
div.content-block div.two-block  div.right li { list-style-type:none; }
div.content-block div.two-block  div.right-content { margin:35% 0 0 0;} 
div.content-block div.two-block  div.right-content div.text { font-family: 'Circle Extra Light35'; margin:10px 0 0 0; } 
div.content-block div.two-block  div.right-content div.image-share { width:157px; height:123px; margin:20px 0 0 100px;
                                                                     background-image:url(../i/sliva-many.png); background-repeat:no-repeat;}
div.content-block div.three-block { width:100%; height:535px; background-image:url(../i/3-3.jpg); background-repeat:no-repeat; }
div.content-block div.three-block div.center { margin:0 auto; padding-top:18%; width:350px; height:auto; overflow:hidden; color:#fff; }
div.content-block div.three-block div.center h1 { margin-left:10px; font-size:2.1em; }
div.content-block div.three-block div.center div.sep-line{ margin:10px 0 0 130px; }
div.content-block div.three-block div.center div.text { margin:20px 0 0 50px; font-family: 'Circle Extra Light35'; font-size:1.5em; }
div.content-block div.three-block div.center div.text ul { list-style:none; }
div.content-block div.three-block div.center div.link-block { margin:30px 0 0 90px; width:160px; font-family: 'Circle Extra Light35'; border-bottom:1px dashed #fff; }
div.content-block div.three-block div.center div.link-block a { color:#fff; text-decoration:none; font-size:1.2em; }
div.content-block div.three-block div.center div.link-block a:hover { font-weight:bold; }
div.content-block div.contact-block { width:100%; height:500px; }
div.content-block div.contact-block div.text-info { margin:12% 0 0 15%; position:relative; float:left; }
div.content-block div.contact-block div.text-info h1 { font-size:2.2em; }
div.content-block div.contact-block div.text-info div.office { margin:20px 0 0 -30px; width:150px; height:30px; line-height:30px; font-size:1.5em; padding: 0 0 0 30px;
                                                               background-image:url(../i/point.png); background-repeat:no-repeat;}
div.content-block div.contact-block div.text-info div.text { font-family: 'Circle Extra Light35'; margin:10px 0 0 0; } 
div.content-block div.contact-block div.text-info div.email { margin:10px 0 0 0; font-family: 'Circle Extra Light35'; }
div.content-block div.contact-block div.text-info div.email span { border-bottom: 1px dotted #000; }
div.content-block div.contact-block div.text-info div.phone {margin:17px 0 0 0; font-size:1.7em;}
div.content-block div.contact-block div.map-info { position:relative; float:left; width:450px; height:250px; border: 3px solid #DED4DD; margin:12% 0 0 7%; }

@media screen and (max-width: 420px) {
    div.content-block div.one-block { width:100%; height:auto; overflow:hidden; margin:120px 0 0 0; }
    div.content-block div.one-block div.left{ width:100%; position:statc; float:none; }
    div.content-block div.one-block div.left div.form-order { width:96%; height:300px; margin:25px 0 0 0; }
    div.content-block div.one-block div.left div.form-order input.field { width:92%; font-size:1.3em; }
    div.content-block div.one-block div.left div.form-order div.block-count div.text-block { font-size:0.8em; }
    div.content-block div.one-block div.left div.form-order div.block-count div.text-block  div.bottom{ color:#F21680; font-size:0.8em;}
    div.content-block div.count-change-block  div.left-button { width:25px; height:25px; background-color:#DDDDDD; position:relative; float:left; cursor:pointer; 
                                                                line-height:25px; text-align:center; }
    div.content-block div.count-change-block  div.left-button:hover { background-color:#999; color:#fff; }													   
    div.content-block  div.count-change-block input.count-packets { width:65px; height:25px; border-style:none; font-size:1.3em; padding:0 10px 0 10px; }
    div.content-block div.count-change-block  div.right-button { width:25px; height:25px; line-height:25px; }
    div.content-block div.ok-block div.price span.all-price { font-size:1.3em; }


    div.content-block div.one-block div.left div.give-me-my-share { margin:10px 0 20px 0; }							
    div.say-ok { width:320px; height:40px; top:2%; left:2%;}															
    div.callback-form { width:94%; height:225px; top:33%; left:0%;  z-index:1000000000; }
    div.callback-form div.close-callback-form { margin-left:85%; margin-top:5px; } 
    div.callback-form  div.top-line { font-size:0.9em;}
    div.callback-form  div.name-field { font-size:0.9em; }
    div.callback-form  input.field { height:30px; width:100%; line-height:30px; font-size:1.2em; }
    div.callback-form  input.ok-button { font-size:1em; margin:10px 0 0 0; }

    div.content-block div.one-block div.right{ width:100%;  
        min-height:600px; 
        position:static; 
        float:right; 
        background-image:url("../i/1-2-mobile.png"); }
    div.content-block div.one-block div.right div.head-text { margin:5% 0 0 20%; font-size:2em; }
    div.content-block div.one-block div.right ul { font-size:1.3em; }

    div.content-block div.two-block  div.left{ width:100%; height:220px; min-height:270px;  
                                               background-image:none; position:static; float:none; }
    div.content-block div.two-block div.video { margin:5% 0 0 1%; width:235px;}

    div.content-block div.two-block  div.right { width:100%; min-height:500px; position:static; float:none; }
    div.content-block div.two-block  div.right h1 { margin:0 0 0 2%;}
    div.content-block div.two-block  div.right-content div.text { margin:0 0 0 2%; } 
    div.content-block div.two-block  div.right-content { margin:5% 0 0 0;} 

    div.content-block div.three-block { width:100%; height:535px; }
    div.content-block div.three-block div.center h1 { margin-left:50px; font-size:1.5em; }

    div.content-block div.contact-block { width:100%; height:200px; }
    div.content-block div.contact-block div.map-info { display:none; }
}

div.footer { width:100%; height:50px; background-color:#A64A8B; clear:both; }	
div.footer div.vk{ width:32px; height:32px; background-image:url(../i/vk_logo.png); position:relative; float:right; margin:-25px 20px 0 0; }
div.footer div.text { width:170px; margin:0 auto; padding-top:15px; color:#CF6BB3; }

@media screen and (max-width: 420px) {
    div.footer div.vk{ margin:-25px 0 0 80%; }
}
