@CHARSET "UTF-8"; 

div.menu div.elements div.elem a { color:#CCCCCC; }
div.menu-block div.menu div.elem:hover { background-color:#fff; }
div.menu-block div.menu div.elem:hover a { color:#CCCCCC; }
div.menu-block div.menu div.elem a:hover { color:#CCCCCC; }
div.menu-block div.menu div.cur:hover { background-color:#B665B1; }
div.menu-block div.menu div.cur:hover  a { color:#fff; }
div.menu-block div.menu div.review:hover { background-color:#B665B1; }
div.menu-block div.menu div.review:hover  a { color:#fff; }

div.one-type-block div.description { width:100%; height: 650px; background-image:url(../i/1-type.jpg); background-repeat:no-repeat; background-size: cover;}
div.one-type-block div.description h1 { color:#fff; font-family: 'Circle Extra Light35'; margin:6% 0 0 5%; padding:20px 0 0 0; font-size:2.5em;  }
div.one-type-block div.description div.data { width:40%; height:auto; overflow:hidden; position:relative; float:right; margin:5% 0 0 0; }
div.one-type-block div.description div.predh { font-size: 2.5em; color:#fff; font-family: 'Circle Extra Light35'; }
div.one-type-block div.description h2 { font-size: 2.5em; color:#FFCC00; margin: -12px 0 0 0; }
div.one-type-block div.description div.sep-line-white { width:100px; height:10px; background-color:#fff; }
div.one-type-block div.description div.text { font-size: 1.1em; color:#fff; font-family: 'Circle Extra Light35'; margin:20px 0 0 0; width:330px; }
div.one-type-block div.description div.give-me-my-share-yel { height:30px; margin:20px 0 0 0; color:#FFCC00; font-family: 'Circle Extra Light35'; }
div.one-type-block div.description div.give-me-my-share-yel span { font-size:1.2em; border-bottom:1px solid #FFCC00; cursor:pointer;}

@media screen and (max-width: 420px) {
    div.one-type-block div.description h1 { margin:38% 0 0 5%; font-size:1.5em;  }
    div.one-type-block div.description div.predh { font-size: 1.5em; padding:0 0 0 3px;}
    div.one-type-block div.description h2 { font-size: 1.5em; padding:0 0 0 3px;}
    div.one-type-block div.description div.data { width:100%; position:relative; float:right; margin:5% 0 0 0; }
    div.one-type-block div.description div.text { font-size: 1em; margin:20px 0 0 0; width:320px; padding:0 0 0 3px;}
}

div.two-type-block div.description { width:100%; height: 750px; background-image:url(../i/2-type.jpg); background-repeat:no-repeat; background-size: cover; }
div.two-type-block div.description div.data { width:40%; height:auto; overflow:hidden; position:relative; float:right; margin:5% 0 0 0; }
div.two-type-block div.description div.predh { font-size: 2.5em; color:#DE08CC; font-family: 'Circle Extra Light35'; }
div.two-type-block div.description h2 { font-size: 2.5em; color:#000; margin: -12px 0 0 0; }
div.two-type-block div.description div.sep-line-white { width:75px; height:5px; background-color:#fff; }
div.two-type-block div.description div.text { font-size: 1.1em; color:#2F2D2E; font-family: 'Circle Extra Light35'; margin:20px 0 0 0; width:330px; }
div.two-type-block div.description div.give-me-my-share { height:30px; margin:20px 0 0 0; color:#fff; font-family: 'Circle Extra Light35'; }
div.two-type-block div.description div.give-me-my-share span { font-size:1.2em; border-bottom:1px solid #fff; cursor:pointer;}

@media screen and (max-width: 420px) {
    div.two-type-block  div.description div.predh { font-size: 1.5em; padding:0 0 0 3px;}
    div.two-type-block  div.description h2 { font-size: 1.5em; padding:0 0 0 3px;}
    div.two-type-block  div.description div.data { width:100%; position:relative; float:right; margin:5% 0 0 0; }
    div.two-type-block  div.description div.text { font-size: 1em; margin:20px 0 0 0; width:320px; padding:0 0 0 3px;}
}

div.three-type-block div.description { width:100%; height: 750px; background-image:url(../i/3-type.jpg); background-repeat:no-repeat; background-size: cover;}
div.three-type-block div.description div.data { width:40%; height:auto; overflow:hidden; position:absolute; margin:7% 0 0 5%; }
div.three-type-block div.description div.predh { font-size: 2.7em; color:#DE08CC; font-family: 'Circle Extra Light35'; }
div.three-type-block div.description h2 { font-size: 2.7em; color:#000; margin: -12px 0 0 0; }
div.three-type-block div.description div.sep-line-white { width:75px; height:5px; background-color:#fff; }
div.three-type-block div.description div.text { font-size: 1.1em; color:#2F2D2E; font-family: 'Circle Extra Light35'; margin:20px 0 0 0; width:330px; }
div.three-type-block div.description div.give-me-my-share { height:30px; margin:20px 0 0 0; color:#fff; font-family: 'Circle Extra Light35'; }
div.three-type-block div.description div.give-me-my-share span { font-size:1.2em; border-bottom:1px solid #fff; cursor:pointer;}

@media screen and (max-width: 420px) {
    div.three-type-block  div.description div.predh { font-size: 1.5em; padding:0 0 0 3px;}
    div.three-type-block  div.description h2 { font-size: 1.5em; padding:0 0 0 3px;}
    div.three-type-block  div.description div.data { width:100%; position:relative; float:right; margin:5% 0 0 0; }
    div.three-type-block  div.description div.text { font-size: 1em; margin:20px 0 0 0; width:320px; padding:0 0 0 3px;}
}